@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.hero_landing_bg {
  /* substract the header height */
  height: calc(100vh - 72px);
  background-image: url("../assets/background_pattern.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
